<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">The Staunton MBA is a business learning community that guides you as you take your business from an idea to reality</p>
                <a href="#" class="btn btn-default btn-xl">Apply Today!</a>
            </div>
        </div>
    </div>
</section>
