<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">We offer you support while you work on your business project; feedback on your ideas; useful tools and a step by step process to follow; and connection to other community members also working on projects.</p>
                <a href="#" class="btn btn-default btn-xl">Apply Today!</a>
            </div>
        </div>
    </div>
</section>
